body {
    background: url("../images/memphis-mini.png");
    background-color: #777777;
}

.col-md-4 {
    padding-top: 15px;
}

img {
    width: 200px;
    height: 200px;
}

.navbar-brand {
    padding-left: 32px;
}
.main-content {
    padding-top: 2rem;  
    padding-bottom: 2rem;
}

.jumbotron {
    margin-top: 30px;
    
}

.main-body {
    font-size: 20px;
}

#text-2 {
    margin-top: 16px;
    
}

.thumbnail:hover {
    background-color: red;
    opacity: 0.5;
    }


.centerBlock {
   margin-left:auto;
   margin-right:auto;
   display:block;
}

.bigtextarea {

height: 200px;
}

p {
    clear:both;
}

.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}


